<div class="navbar navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img alt="Christoph Haefner" src="common/images/haefner_christoph_rund_klein.png" />&nbsp;&nbsp;Christoph</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="../projects/">Projects</a></li>
				<li><a href="../3dprinting/">3D-Printing</a></li>
				<li><a href="../events/">Events</a></li>
				<li><a href="../brcd/">BroCode</a></li>
				<li><a href="../reclaim/">Reclaim</a></li>
			</ul>
		</div>
	</div>
</div>

