<!-- Piwik -->
<script type="text/javascript">
   var _paq = _paq || [];
   _paq.push(["setCookieDomain", "*.christophhaefner.de"]);
   _paq.push(["setDomains", ["*.christophhaefner.de"]]);
   _paq.push(['trackPageView']);
   _paq.push(['enableLinkTracking']);

   (function() {
	 var u="//christophhaefner.de/piwik/";
	 _paq.push(['setTrackerUrl', u+'piwik.php']);
	 _paq.push(['setSiteId', 7]);
	 var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	 g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
   })();
</script>
<noscript><p><img src="//christophhaefner.de/piwik/piwik.php?idsite=7" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

