/* Header&Footer-Setup */

.navbar, #footer {
	background-color: #e09739;
}

.nav > li > a:hover, .nav > li > a:focus {
	color: black;
	background-color: transparent;
}

.nav > li > a, #footer .credit {
	color: white;
}

.navbar-brand:hover {
	color:black;
}
.navbar-brand {
	color: white;
}

/* Content-Setup */
body {
	background-color: #606060;
}
h1 {
	color: white;
    margin-top: 0;
}

.cat {
	width: 100px;
	height: 100px;
}
.catname {
	background: #F0F0F0;
	text-align: center;
	line-height: 100px;
}

.btn-login:active {
	color: white;
	background-color: green;
}

input[type="text"] {
	max-width: 100%;
}

