<!DOCTYPE html>
<html lang="en" ng-app="catsApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Cats | Christoph Haefner</title>
		<meta name="author" content="Christoph Haefner">
		<meta name="description" content="Check whether the cats are inside or not.">
		<meta name="theme-color" content="#e09739" />

		<!-- build:css css/cats.min.css -->
		<link href="common/css/bootstrap.min.css" rel="stylesheet">
		<link href="common/css/main.css" rel="stylesheet">
		<link href="css/brick.css" rel="stylesheet">
		<link href="css/cats.css" rel="stylesheet">
		<link href="common/css/font-awesome.min.css" rel="stylesheet">
		<!-- endbuild -->

		<!-- build:js js/cats.min.js -->
		<script src="common/js/jquery-1.12.3.min.js" @@data-async></script>
		<script src="common/js/bootstrap.min.js" @@data-async></script>
		<script src="js/firebase/firebase.js" @@data-async></script>
		<script src="js/firebase/firebase-simple-login.js" @@data-async></script>
		<script src="js/angular/angular.js" @@data-async></script>
		<script src="js/angular/angular-cookies.js" @@data-async></script>
		<script src="js/firebase/angularfire.js" @@data-async></script>
		<script src="js/brick.js" @@data-async></script>
		<script src="js/catsApp.js" @@data-async></script>
		<script src="js/register-sw.js" @@data-async></script>
		<!-- endbuild -->

		<link href="images/cats-72.png" rel="icon" type="image/png" />
		<link rel="manifest" href="manifest.webmanifest">

		<!-- Tracker -->
		include "tracker.html"
	</head>
<body ng-controller="CatsCtrl">
  <div id="wrap">

	<!--Fixed navbar -->
	include "header.html"

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Katzenstatus</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3" ng-repeat="cat in cats" my-repeat-directive>
				<x-flipbox class="center-block cat" id="{{cat.name}}" ng-click="toggle(cat)">
					<img ng-src="{{cat.img}}" />
					<div class="catname">{{cat.name}}</div>
				</x-flipbox>
				<span class="center-block label {{cat.now}}">{{cat.text}}</span>
			</div>
		</div>
		<div class="row" style="height: 20px">
			<div class="col-md-12">
			</div>
		</div>
		<div class="row" style="color: white">
			<div class="col-md-3 col-sm-6 col-xs-6">
				Build @@builddate
				by @@buildauthor
				on @@buildmachine
				from @@gitcommit
				via '@@buildpipeline' pipeline
				as @@version
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="row">
					<div class="col-md-6">
						<login-indicator ng-click="clickLogin()" />
					</div>
					<div class="col-md-6">
						<connectivity-indicator />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<login-input />
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
	<!-- Fixed footer -->
	include "footer.html"
</body>
</html>

